<section class="success3" id="candidature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <br>
                <br>
                <h2>Candidature
                <h4>Un blocage technique pour vous lancer ?<br>Notre appel à projets est fait pour vous !</h2>
            </div>
        </div>
        <hr class="star-secondary">
        <div class="row">
            <div class="col-lg-12 text-center">
              <h3><a target="_blank" href="{{ site.baseurl }}/ogptoolbox_AAP_2018.pdf">1. Consultez les conditions<br>de participation</a></h3>
              <h3><a target="_blank" href="https://framaforms.org/outiller-la-communaute-africaine-francophone-appel-a-projets-2018-1522762982">2. Remplissez le formulaire</a></h3>
              <h3> Candidatez avant le 23 juin !</h3>
            </div>
        </div>
        <hr class="star-secondary">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4>Posez vos questions et discutez<br><a target="_blank" href="https://forum.ogptoolbox.org/c/aap">sur notre forum</a> ou <a target="_blank" href="https://twitter.com/OGPtoolbox">sur Twitter !</a></h4>
                <p>Vous pouvez également nous contacter <a target="_blank" href="mailto:aap@ogptoolbox.org">par e-mail</a>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4</h4>
                <hr class="star-secondary">
            </div>
        </div>
    </div>
</section>
