<head>
    <section class="success" id="challenge">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 text-center">
                    <h2>Le Challenge</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Notre objectif est de collecter et d’utiliser les données existantes sur la diversité et sur le milieu de la tech. Ces données existent, surtout quand certaines entreprises se vantent dans leurs rapports annuels d’avoir mis en place des politiques d’inclusion ou de diversité. Quelques initiatives nationales existent aussi pour mesurer la diversité LGBT dans le monde professionnel. 
                    </p>
                    
                    <p>Mais quelles sont ces entreprises ? Quelles sont ces actions d’inclusion ? Peut-on en mesurer l’impact sur les employé.e.s concerné.e.s ? S’agit-il de former les RH, d’organiser des formations sur la diversité, de signer une charte ? 
                    </p>

                    <h4>A - Définir un périmètre</h4>

                    <p>Le milieu de la tech est large, parle-t-on d’entreprises tech ou des métiers de la tech ? Quels sont les acteurs de ce milieu ? </p>
                    <p>• Startups</p>
                    <p>• Départements IT / Web / E-Commerce des grandes entreprises ( CAC 40 ) </p>
                    <p>• Cabinets de consultants</p>
                    <p>• Agences de communication</p> 
                    <p>• SSII</p> 
                    <p>• Départements IT / Web des Administrations </p>
                    <p>• Medias ( media en ligne , presse .. ) </p> 
                    <p>• Écoles et formations tech</p> 
                    <p>• Conférences Tech</p> 
                </div>
                <div class="col-lg-4">
                    <div>
                        <h4>B - Fixer les limites du périmètre</h4>
                    <p> Admettons que l'on cherche à évaluer le nombre de femmes présentes dans les conseils d'administration des startups françaises, délimitons pour commencer un périmètre de startups identifiées comme faisant partie d'un classement publié.</p>  
                        

                    <p>Il est possible de se baser sur plusieurs listes :</p> 
                     <p>• Le <a href="http://lentreprise.lexpress.fr/creation-entreprise/classement-le-top-100-des-start-up-francaises-en-2015_1713234.html">top 100 des Startups</a> de l’Express qui définit les startups de ce classement par: <i>"Créées au maximum il y a huit ans, elles ont réalisé en 2014 un chiffre d'affaires d'au moins un million d'euros, ou effectué une levée de fonds du même montant depuis leur création."</i></p>

                    <p>• Celle de <a href="http://www.maddyness.com/startup/2014/11/05/ebg-top-100-startups-francaises/">Maddyness</a> sur les startups dites “innovantes”.</p>

                     <p>Dans tous les cas, le choix d'une liste ou d'une autre, même si constituée par nos propres critères, doit être expliqué.</p>
                  
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Using the skills developed in the Bootcamp, a massive database containing information on more than <b>250 bn Euro</b> spent via the EU's primary investment tool, the European Structure and Investment Funds (ESIF), will be tackled in the Data Expedition. Train in the Bootcamp, and join the Story Hunt!-->
</head>
