    <!-- Footer -->
    <footer class="text-center">
        <div class="footer">
            <div class="container">
              <br>
              <br>
              <div class="col-lg-7">
                  <a href="https://twitter.com/OGPtoolbox"><img class="responsive" src="{{ site.baseurl }}/img/twitter.png"></a>
              </div>
              <div class="col-lg-2">
                  <a href="https://www.facebook.com/OGPtoolbox/"><img class="responsive" src="{{ site.baseurl }}/img/facebook.png"></a>
              </div>
              <div class="row" align="middle">
                  <a href="http://ogptoolbox.org/"><img class="responsive" src="{{ site.baseurl }}/img/OGPtoolbox_logo.png" width="186px" align="middle" style="margin:80px"></a>
                  <a href="http://ecoledesdonnees.org/"><img class="responsive" src="{{ site.baseurl }}/img/EDD_logo.png" width="195px" align="middle" style="margin:10px"></a>
                  <a href="http://afd.fr/"><img class="responsive" src="{{ site.baseurl }}/img/AFD_logo.png" width="245px" align="middle" style="margin:80px"></a>
                </div>
            </div>
        </div>

    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
