<head>
    <section class="success" id="none">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 text-center">
                    <h2>À propos du projet Outiller la CAFDO</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>Naissance du projet</h3>

                    <p>La première Conférence d’Afrique francophone sur les données ouvertes (CAFDO) qui a eu lieu à Ouagadougou du 1er au 3 juin 2017 a rassemblé ce qu’il convient désormais d’appeler la <b>Communauté Francophone des Données Ouvertes</b>. Cette communauté, en plein essor et structuration, aura pour objectif de mieux partager les bonnes pratiques et de pérenniser les avancées et les engagements pris lors de la conférence.</p>

                    <p>Lors des ateliers de la conférence, le constat a été fait que <b>l'accès et la formation aux outils numériques sont des obstacles importants au développement de projets utilisant l’open data</b> (ouverture des données publiques), ces projets étant généralement considérés comme une première étape en matière d’accès au Gouvernement Ouvert.</p>
                </div>
                <div class="col-lg-4">
                    <h3>Notre objectif</h3>

                    <p>Afin que les acteurs de la société civile collaborent avec les administrations de leurs pays et que demain des pays comme Madagascar, le Sénégal, la Guinée, le Togo, le Mali ou encore le Niger puisse rejoindre le PGO ou s'engager dans une stratégie politique forte d'ouverture de données, nous constatons qu’un chaînon est manquant. Comment rendre la technologie accessible ?</p>

                    <p><b>Quels logiciels choisir et comment les prendre en main ? Comment inventorier ce qui existe déjà et identifier les acteurs à qui parler ? Comment instaurer une relation avec l’administration en vue de libérer des données ? Dans quel format publier ces données et avec quelle licence.</b></p>
                </div>

            </div>
        </div>
    </section>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
