<head>
    <section class="success" id="none">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 text-center">
                    <h2>Projet Collectif Lesbians Who Tech Paris</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>Pourquoi un projet collectif ?</h3>
                    <p>Le réseau Lesbians Who Tech repose sur deux piliers : <b>l’empowerment</b> et <b>la visibilité</b>. De ces valeurs, l'idée est née de porter ensemble un projet où chacun.e pourrait participer, un projet d'intelligence collective, où la réflexion, la conception, la production, seront ouvertes et collaboratives.</p> 

                    <img src="https://media4.giphy.com/media/7Q7SqFSRmzkFq/giphy.gif">
                      
                    <p style="padding-top:5px;">Le sommet de Paris sera l'occasion de présenter ce projet en tant que fruit d'un travail collectif, ayant rassemblé toutes vos compétences et connaissances, et ce, afin de lui offrir toute la visibilité nécessaire, puis de le continuer.</p> 

                    <p>Ce projet a également pour objectif de nous donner la parole, à nous les lesbiennes de la tech, sur les problématiques qui nous touchent directement, et ce afin de s'émanciper et de nous donner de la capacité d'agir sur les discriminations vécues ou subies.</p>
                </div>
                <div class="col-lg-4">
                    <h3>What can be measured can be changed</h3>
                    <p> Accroître la visbilité des lesbiennes dans la tech, c'est bien, mais comment on la mesure ?</p>
                    <p>Ce projet collectif a pour objectif d'établir un baromètre de la diversité dans la tech, avec des données existantes, à collecter et analyser, de définir ensemble les critères qui nous importants quand on parle d'inclusivité dans le milieu professionnel et de regarder comment cela est pratiqué déjà (ou pas) dans l'univers de la tech en France.</p>

                    
                     <h3>Double discrimination femme et homosexuelle</h3>
                     <p>Double plafond de verre pour les lesbiennes qui subissent le cumul du sexisme et de l’homophobie.</p> 

                     <h3>L'émancipation par la donnée</h3>

                    <p>• Un peu plus de la moitié des saisines de SOS Homophobie concerne des victimes de violence psychologique ou verbale. Près de 30 % de ces violences sont sur le lieu de travail.</p>

                    <p>• Une saisine sur dix a pour objet une discrimination à l’égard d’un gay ou d’une lesbienne, majoritairement sur le lieu de travail.</p>
                    <p>• Une personne sur dix déclare avoir été victime de violence physique.</p>
                    <p>• 0% de personnes dans le placard dans le monde de l’entreprise (<i>chiffres du <a href="http://www.bcg.fr/documents/file221107.pdf">baromètre du Boston Consulting Group 2017</a>)</i></p> 

                    <p><b>La forme la plus fréquente d’homophobie au travail est l’insulte (plus de la moitié des cas signalés à SOS Homophobie), suivie, dans 42 % des cas, des manifestations moins directes, généralement non punissables pénalement, mais qui n’en ont pas moins un impact important pour la victime.</b></p>
                       
                </div>

            </div>
        </div>
    </section>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Using the skills developed in the Bootcamp, a massive database containing information on more than <b>250 bn Euro</b> spent via the EU's primary investment tool, the European Structure and Investment Funds (ESIF), will be tackled in the Data Expedition. Train in the Bootcamp, and join the Story Hunt!-->
</head>
