<section class="success" id="objectifs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <br>
                <br>
                <h2>Objectifs</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <h4>Soutenir techniquement la communauté</h4>
                <p><a target="_blank" href="http://ogptoolbox.org/"><b>OGP Toolbox</b></a>, en partenariat avec l'<a target="_blank" href="http://ecoledesdonnees.org/"><b>École des Données</b></a> et avec le soutien de l’<a target="_blank" href="http://afd.fr/"><b>Agence française de développement</b></a>, se propose d’accompagner les acteurs de la communauté pour <b>mettre en oeuvre des projets pilotes en matière de gouvernement ouvert.</b></p>

                <p>Il s'agit de venir compléter <a target="_blank" href="http://od4d.net/open-burkina-retenu-pour-coordonner-la-communaute-dafrique-francophone-pour-les-donnees-ouvertes-cafdo/">le travail d’animation du réseau CAFDO effectué par Open Burkina</a> avec un accompagnement technique et des solutions concrètes. Dans une logique de mutualisation, il nous paraît en effet pertinent de concentrer notre action là où seront centralisés dorénavant les besoins exprimés par les membres de la communauté, et où par ailleurs, certains acteurs sont déjà très engagés.</p>

                <p>Afin de maximiser les synergies au sein du réseau et développer l’impact de la coordination CAFDO, il apparait nécessaire d’organiser un soutien technique efficace, structuré et en cohérence avec l’offre existante, de consolider et d’améliorer la mise à disposition des ressources disponibles (supports de formation, etc.), et enfin de proposer un accompagnement de bout en bout pour les projets les plus prometteurs.</p>

            </div>
            <div class="col-lg-4">
                <div>
                <h4>Un premier appel à projets en 2018</h4>
                <p>Notre initiative est axée sur l’outillage de la communauté <i>open data</i> en Afrique francophone, à travers l’accompagnement technique d’<b>un projet pilote utilisant les données ouvertes dans un objectif de développement durable et/ou de gouvernance participative</b>. Ce projet a vocation à servir de modèle dans la communauté <i>open data</i> francophone pour être repris, dupliqué et essaimé, en partageant au fil de l’eau les acquis engrangés pendant toute la période pilote.</p>

                <p>Le projet sélectionné fera l’objet d’un accompagnement et d’un suivi de bout en bout dans les différentes étapes : étudier la faisabilité (contexte juridique et politique du pays, etc.), cartographier les acteurs, les contraintes, l’existant, inventorier les données, former des relations et des partenariats avec l’administration, les ONGs et les différentes communautés connexes.</p>
                </div>
            </div>
        </div>
    </div>
</section>
