<head>
    <section class="success" id="objectifs">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 text-center">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h2>Les objectifs</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>L’OGP Toolbox, avec le soutien de l’AFD, se propose d’accompagner les acteurs de la communauté CAFDO naissante dans formation et la pratique d’outils numériques nécessaires dans la mise en place de projets open data, et ce, <b>dans un objectif d’autonomisation</b>, afin qu’à la suite de cette expérience, les lauréats puissent à leur tour former, partager leurs connaissances et surtout mettre en oeuvre des projets concrets.</p>

                    <p>Un des objectif de ce programme en lien direct avec la vision d'OGP Toolbox, est la mise à disposition des ressources produites, libres et accessibles à tous, et constituent une partie du socle de connaissances communes de la communauté CAFDO.</p>

                    <h4>Comment ?</h4>
                    <p>Nous proposons un programme d’un an axé sur l’outillage de la communauté open data en Afrique francophone, <b>à travers l’accompagnement technique d’un projet pilote utilisant les données ouvertes</b> dans un objectif de développement durable et/ou de gouvernance participative. Ce projet a vocation à servir de modèle dans la communauté open data francophone pour être repris, dupliqué et essaimé, en partageant au fil de l’eau les acquis engrangés pendant toute la période pilote..</p>
                </div>
                <div class="col-lg-4">
                    <div>
                        <h4>Une activité complémentaire du réseau CAFDO</h4>
                    <p>L’objectif de notre projet est de venir compléter le travail d’animation du réseau CAFDO avec un accompagnement technique et des solutions concrètes. Dans une logique de mutualisation, il nous paraît en effet pertinent de concentrer notre action là où seront centralisés dorénavant les besoins exprimés par les membres de la communauté, et où par ailleurs, certains acteurs sont déjà très engagés.</p>

                    <p>Afin de maximiser les synergies au sein du réseau et développer l’impact de la coordination CAFDO, il apparait nécessaire d’organiser un soutien technique efficace, structuré et en cohérence avec l’offre existante, de consolider et d’améliorer la mise à disposition des ressources disponibles (supports de formation, etc.), et enfin de proposer un accompagnement de bout en bout pour les initiatives les plus prometteuses.</p>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
