<section class="success2" id="sprint">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <br>
                <br>
                <h2>Sprint :</h2>
                <h2>une semaine de travail intensif</h2>
                <hr class="star-light">
            </div>
        </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Pendant une semaine, l'équipe portant le projet sélectionné sera invitée à retrouver des expert.es techniques dans un lieu propice et dédié au travail intensif, avec l'objectif de produire le prototype et toute la documentation nécessaire. Le lieu sera déterminé ultérieurement, une fois le projet sélectionné.</p>
                    <p>Cette expédition sera une combinaison de travail de groupe, de formation, d'apprentissage mutuel autour du traitement des données, de formalisation des besoins de documentation, de tutoriaux, et surtout du développement du prototype tel que défini pendant la période de préparation.</p>
                </div>
                <div class="col-lg-4">
                    <h4>Un air de <i>datacamp</i></h4>
                        <p>On peut voir le sprint comme une suite du <a target="_blank" href="http://www.cafdo.org/mediawiki/mw/index.php?title=Datacamp"><i>datacamp</i> initié lors de la première conférence CAFDO organisée à l'été 2017</a>.</p>
                        <p><b>Tous les coûts relatifs au voyage, à l'hébergement et la nourriture durant le sprint seront couverts.</b></p>
                        <p>Le sprint aura lieu en Septembre 2018 (date et lieu à confirmer).</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
