<!-- About Section -->

<section class="success2" id="sprint">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <br>
                <br>
                <br>
                <h2>Sprint</h2>
                <hr class="star-light">
            </div>
        </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Pendant une semaine, l'équipe portant le projet lauréat sera invitée à retrouver des expert.es techniques dans un lieu propice et dédié au travail intensif, avec l'objectif de produire le prototype et toute la documentation nécessaire. Le lieu sera déterminé ultérieurement, une fois le projet lauréat sélectionné. Nous privilégérions la région d'origine.</p>
                    <p>Cette expédition sera une combinaison de travail de groupe, de formation, d'apprentissage mutuel autour du traitement des données, de formalisation des besoins de documentation, de tutoriaux, et surtout du développement du prototype tel que défini pendant la période de préparation.
                    </p>
                </div>
                <div class="col-lg-4">
                    <h4>Un air de DataCamp</h4>
                        <p>On peut voir le sprint comme une suite du datacamp initié lors de la conférence CAFDO.</p>
                        <p><b>Tous les coûts relatifs au voyage, à l'hébergement et la nourriture durant le sprint seront couverts par le programme Outiller CAFDO.</b></p>
                        <h3>Le sprint aura lieu en Juin 2018.</h3>
                        <h4 style="color:#F2453E">Plus d'informations courant 2018 !</h4>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
