<!-- Portfolio Grid Section -->
<section class="success3" id="workshops">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Les grandes étapes du projet</h2>
                <hr class="star-light">
            </div>
            <div class="col-lg-4 col-lg-offset-2">
                <p>Nous proposons un programme d’un an axé sur l’outillage, à travers l’accompagnement technique d’un projet pilote utilisant les données ouvertes dans un objectif de développement durable et/ou de gouvernance participative.</p>
                </p>
            </div>
            <div class="col-lg-4">
                <p>Ce projet a vocation à servir de modèle dans la communauté open data francophone pour être repris, dupliqué et essaimé, en partageant au fil de l’eau les acquis engrangés pendant toute la période pilote.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <h3>1. Lancement du projet</h3>
                <h4>Decembre 2017</h4>
                <p>Annonce du projet et promotion auprès des réseaux de personnes et organisations intéressées à prototyper un projet utilisant des données ouvertes, éventuellement en utilisant un standard reconnu (ODCS, IATI, OpenSpending etc.), que la communauté CAFDO pourrait se réapproprier, et qui nécessiterait de produire ou d'améliorer une documentation existante.</p>

            </div>
            <div class="col-lg-4">
                <h3>2. Lancement de l'appel à projets</h3>
                <h4>Janvier 2018</h4>
                <p>Un appel à projets sera lancé.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <h3>3. Annonce du projet lauréat</h3>
                <h4>Mars 2018</h4>
                <p>Après évaluation des projets soumis à l'appel ouvert, le jury sélectionne un projet qui verra son prototype réalisé.</p>
            </div>
            <div class="col-lg-4">
                <h3>4. Travail préparatoire au sprint</h3>
                <h4>2è trimestre 2018</h4>
                <p>Pendant 3 mois, les experts techniques OGP Toolbox et l'équipe porteuse du projet lauréat travaillent à distance afin de préparer l'environnement technique nécessaire : nettoyage, structuration des données, production de mockups, réflexion sur le stockage des données et l'infrastructure nécessaire, etc..</p>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <h3>5. Sprint</h3>
                <h4>Juin 2018</h4>
                <p>Pendant une semaine, l'équipe porteuse du projet lauréat se réunit pour travailler avec les experts techniques OGP Toolbox afin de produire un prototype fonctionnel. De la documentation est traduite, voire produite en français, publiée et le prototype est mis en ligne.</p>
            </div>
            <div class="col-lg-4">
                <h3>6. International Open Data Conference</h3>
                <h4>Septembre 2018</h4>
                <p>Présentation du projet pilote à la communauté internationale réunie pour IODC 18', leçons apprises, techniques utilisées et promotion du réseau CAFDO.</p>
        </div>
            </div>
        </div>
    </div>
</section>
