<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include parallax-2.html %}
    {% include apropos.html %}
    {% include parallax-2.html %}
    {% include initiative.html %}
    {% include parallax-2.html %}
    {% include objectifs.html %}
    {% include parallax.html %}
    {% include calendrier.html %}
    {% include timeline.html %}
    {% include parallax-4.html %}
    {% include sprint.html %}
    {% include parallax-1.html %}
    {% include parallax-1.html %}
    {% include candidature.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>
